Semester4OOAD_Project/Web References/network/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOAD_PROJECT_SERVER" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOAD_PROJECT_SERVER" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8464/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfclassClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classClient" nillable="true" type="tns:classClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclassClient" nillable="true" type="tns:ArrayOfclassClient" />
  <xs:complexType name="classClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Dp" nillable="true" type="q1:Image" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secretq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="classClient" nillable="true" type="tns:classClient" />
</xs:schema>